<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="KryptonToolkitSuite462" version="4.62.554" targetFramework="net461" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net461" />
  <package id="NLog" version="4.0.0" targetFramework="net461" />
  <package id="SimpleInjector" version="4.4.0" targetFramework="net472" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net472" />
</packages>